/* ---------------------------------------------------------------------------------- */
/* From here goes in sim.css */
/* ---------------------------------------------------------------------------------- */

div.md-container div div.md-content article.md-content__inner {
    padding-top: 0rem;

    table,
    th,
    td {
        border: none;
    }

    h1 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 2em;
    }

    /* nx/ny/probability/steps etc text input */
    table.sim_controls {
        table {
            width: 100%;
        }

        /* For the Run sim/save sim buttons */
        table.control {
            text-align: center;
        }

        table tr td {
            padding: 0px;
            padding-top: 8px;
        }

        table.seed td {
            input {
                margin-top: 10px;
                margin-right: 7px;
            }
        }

        .sim_controls_text {
            border: 1px solid rgb(142, 142, 207);
            margin-left: 5px;
            margin-right: 20px;
            padding: 5px;
        }

        /* nx/ny/nz text input */
        .dims_n_text {
            width: 6ch;
        }

        /* probability text input */
        .prob_text {
            width: 8ch;
        }

        /* steps/sampling/seed text input */
        .params_text {
            width: 6ch;
        }
    }

    /* For the 'Run Simulation', 'Save Simulation' and the media control buttons */
    input.controls {
        border-radius: 5px;
        padding-left: 0px;
        border: 1px solid rgb(83, 83, 83);
    }

    /* For the 'Run Simulation', 'Save Simulation' */
    input.controls.simulation {
        /* display: flex; */
        /* justify-content: center; */
        width: 40%;
        text-align: center;
        /* vertical-align: middle; */
        margin-left: 60px;
        margin-top: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 105%;
    }

    input.controls.simulation.save_simulation {
        display: none;
    }

    #VisualizationControls table:not([class]) {
        width: 370px;

        table {
            width: 100%;
            font-size: 0.8rem;
        }

        td {
            padding-top: 10px;
            padding-bottom: 0px;
            padding-left: 4px;
            padding-right: 4px;
        }

        tr.zoom_slice td.label {
            text-align: right;
            padding-bottom: 5px;
            padding-left: 8px;
            padding-right: 8px;

            label {
                margin-right: 0px;
            }
        }

        /* For the media control buttons */
        input.controls.playback {
            /* font-family: Arial, Helvetica, sans-serif; */
            /* font-family: monospace; */
            font-size: 130%;
            width: 40px;
            margin-top: 0px;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 10px;
        }

        input.controls.playback.decrement {
            margin-left: 0px;
            margin-right: 0px;
        }

        input.controls.playback.increment {
            margin-left: 0px;
            margin-right: 0px;
        }

        /* Don't want these any more */
        input.controls.playback.reverse {
            display: none;
        }

        input.controls.playback.pause {
            display: none;
        }

        input.controls.playback.play {
            display: none;
        }
    }
}